@media screen and (max-width:1000px){
    li{
        margin-right: -39px;
    }
    ul{
        margin-right: 37px;
margin-top: 33px;
    }
    h1{
        font-size: 47px;
margin-bottom: 180px;
    }
    .btn{
        padding: 8px 22px;
        font-size: 8px;
margin-left: -95px;
    }
    .btn1{
        padding: 8px 22px;
        font-size: 8px;
    }
}
